/* styling for single card starts */
.custom-hover {
    position: relative; /* Needed for positioning the pseudo-element */
}

.custom-hover::after {
    content: ''; 
    position: absolute;
    bottom: -8px; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black; 
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
}

.custom-hover:hover::after {
    visibility: visible;
    opacity: 1; 
    transform: scaleX(1); 
    
}

/* styling for single card ends */